*{
    padding: 0%;
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-color: #1f253d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.getOut{
    display: block;
    width: 98%;
    border-radius: 10px;
    background-color: #394264;
    margin: 0 10px 20px 10px;
    padding: 10px;
    text-align:end; 
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
}

.getOut input{
    color: #394264;
    margin-right: 10px;
    width: 60px;
    cursor: pointer;
    height: 4vh;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
    font-weight: bolder;
}

.getOut input:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
    color: white;
    background-color: rgb(64, 187, 224);
}

.content{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 20px;
	width: 940px;
	max-width: 100%;
	margin: auto;
}

.content label{
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.emailBlock{
    background-color: #394264;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
}

.inputShow{
    margin-top: 5px;
    background-color: #39426400;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    color: white;
}

input::placeholder{
    color: white;
    font-size: 14px;
}

.passwordBlock{
    margin-top: 20px;
    background-color: #394264;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
}

.buttonInput{
    color: #394264;
    margin-top: 10px;
    cursor: pointer;
    height: 4vh;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
    font-weight: bolder;
} 

.buttonInput:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
    color: white;
    background-color: rgb(64, 187, 224);
}

#midBlock{
    background-color: #394264;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
}

.imgUser{
    text-align: center;
    margin-bottom: 20px;
}

.imgUser img{
    width: 200px;
    height: 200px;
}

.nameUser{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.nameBox{
    margin-top: 5px;
    margin-left: 40px;
    background-color: #39426400;
    padding: 5px 5px 5px 10px;
    border: none;
}

.nameUser input::placeholder{
    font-size: 16px;
}

#secName{
    margin-left: -170px;
}

.inputShowDetails{
    margin-top: 7px;
    margin-bottom: 10px;
    background-color: #39426400;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    color: white;
}

#GenderView{
    margin-bottom: 4px;
}

.titleDetails{
    text-align:center;
    background-color: rgb(64, 187, 224);
    border-radius:10px 10px 0 0;
    padding: 10px;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.527);
}

h3{
    color: white;
    margin-left: 10px;
}

.detailsBlock{
    background-color: #394264;
    border-radius:0 0 10px 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.527);
}


.about{
    display: block;
    width: 98%;
    margin: 20px 10px 0 10px;
    padding: 10px;
    text-align: end;
    background-color: #394264;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.527);
}

.aboutName{
    margin-left: -20px;
}

.contentAbout{
    color: white;
    margin: 5px 0 0 -10px;
}